<h1>First Connection</h1><%= "#{@connection1.first_name}" + " #{@connection1.last_name}" %><br/>

<!-- <h2>All connections</h2><%= "#{@connections}" %> -->
<%= @connections.each do |c| %>
<%= c.first_name %>
<% end %>
